.btn-menu {
    width: 100%;
}

form {
    width: 100%;
}

.list-group {
    width: 100%;
}

.concluida {
    text-decoration: line-through;
    opacity: 0.6;
}

.sem-tarefas {
    color: dimgrey;
    width: 100%;
}

.card-altura {
    margin-top: 15%;
}